<!DOCTYPE html>
<html>
<head>
	<title>Tasks</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">

</head>
<body>

<div class="container">
 	<br>
	<div id="app">
	
		<div v-show='inProcess.length'>
			
			<h1>Tasks({{inProcess.length}})</h1>

			<ol class="list-group">
				<li class="list-group-item" v-for='task in inProcess'>
					<span @dblclick="editTask(task)">{{task.body}} </span>
					<button @click="removeTask(task)">&#10007;</button>
					<button @click="toggleTask(task)">&#10004;</button>

				</li>
			</ol>
			

		</div>
		<form @submit="addTask" method="get" accept-charset="utf-8">
				<div class="form-group">			
						<input type="text" v-model='newTask' name="newTask" placeholder="请输入" class="form-control" 
						ref='newTask' >
				</div>
			
			<button type="submit" class="btn btn-success btn-lg">增加任务</button>
			<button class="btn btn-primary btn-lg" @click="completeAll">完成所有任务</button>


			</form>

		<div v-show='completedTask.length'>
			<h1>Completed Tasks({{completedTask.length}})</h1>

			<ol class="list-group">
				<li class="list-group-item" v-for='task in completedTask'>
					<span @dblclick="editTask(task)">{{task.body}} </span>
					
					<button @click="toggleTask(task)">&#10007;</button>

				</li>
			</ol>
			<button type="submit" class="btn btn-danger btn-lg" 
			 @click="clearCompleted">清空所有任务</button>
		</div>

		<!-- <pre>
			{{$data}}
		</pre> -->

	

	</div>
</div>


<script src="javascripts/vue.js" type="text/javascript" charset="utf-8" ></script>
<script src="javascripts/app.js" type="text/javascript" ></script>
</body>
</html>